[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MonoPoly"]
	path = MonoPoly
	url = https://github.com/cran/MonoPoly
[submodule "quadprog"]
	path = quadprog
	url = https://github.com/cran/quadprog
[submodule "SimCop"]
	path = SimCop
	url = https://github.com/cran/SimCop
